
Module03.MoreWithListsStringsTuplesSetsAndPyCharm/sources/.idea/sources.iml
Module03.MoreWithListsStringsTuplesSetsAndPyCharm/sources/.idea/inspectionProfiles/profiles_settings.xml
Module03.MoreWithListsStringsTuplesSetsAndPyCharm/sources/.idea/misc.xml
Module03.MoreWithListsStringsTuplesSetsAndPyCharm/sources/.idea/modules.xml
Module03.MoreWithListsStringsTuplesSetsAndPyCharm/sources/.idea/vcs.xml
Module03.MoreWithListsStringsTuplesSetsAndPyCharm/sources/strings/.idea/inspectionProfiles/profiles_settings.xml
Module03.MoreWithListsStringsTuplesSetsAndPyCharm/sources/strings/.idea/misc.xml
Module03.MoreWithListsStringsTuplesSetsAndPyCharm/sources/strings/.idea/modules.xml
Module03.MoreWithListsStringsTuplesSetsAndPyCharm/sources/strings/.idea/strings.iml
Module03.MoreWithListsStringsTuplesSetsAndPyCharm/sources/strings/.idea/vcs.xml
Module03.MoreWithListsStringsTuplesSetsAndPyCharm/sources/tuples/.idea/inspectionProfiles/profiles_settings.xml
Module03.MoreWithListsStringsTuplesSetsAndPyCharm/sources/tuples/.idea/misc.xml
Module03.MoreWithListsStringsTuplesSetsAndPyCharm/sources/tuples/.idea/modules.xml
Module03.MoreWithListsStringsTuplesSetsAndPyCharm/sources/tuples/.idea/tuples.iml
Module03.MoreWithListsStringsTuplesSetsAndPyCharm/sources/tuples/.idea/vcs.xml
Module03.MoreWithListsStringsTuplesSetsAndPyCharm/sources/sets/.idea/inspectionProfiles/profiles_settings.xml
Module03.MoreWithListsStringsTuplesSetsAndPyCharm/sources/sets/.idea/misc.xml
Module03.MoreWithListsStringsTuplesSetsAndPyCharm/sources/sets/.idea/modules.xml
Module03.MoreWithListsStringsTuplesSetsAndPyCharm/sources/sets/.idea/sets.iml
Module03.MoreWithListsStringsTuplesSetsAndPyCharm/sources/sets/.idea/vcs.xml
Module04.DictionariesAndFiles/sources/dictionaries/.idea/dictionaries.iml
Module04.DictionariesAndFiles/sources/dictionaries/.idea/inspectionProfiles/profiles_settings.xml
Module04.DictionariesAndFiles/sources/dictionaries/.idea/misc.xml
Module04.DictionariesAndFiles/sources/dictionaries/.idea/modules.xml
Module04.DictionariesAndFiles/sources/dictionaries/.idea/vcs.xml
